@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

/* https://coolors.co/006d77-83c5be-edf6f9-ffddd2-e29578 */

:root {
  --primary-color: #00ADB5;
  --secondary-color: #ADF7FF;
  --accent1-color: #EEFBFB;
  --accent2-color: #393E46;

  --heading-font: "IM Fell French Canon";
  --paragraph-font: Lato, Helvetica, sans-serif;

  --headline-color-on-white: #00ADB5;
  --headline-color-on-color: white;
  --paragraph-color-on-white: #393E46;
  --paragraph-color-on-color: white;
  --paragraph-background-color: #EEFBFB;
  --nav-link-color: #393E46;
  --nav-background-color: #00ADB5;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #393E46;
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s ease;
  color: var(--paragraph-color-on-white);
}

/* Global styles */
body {
  font-family: var(--paragraph-font);
}

/* Header styles */
header {
  background-color: var(--nav-background-color);
  text-align: center;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: large;
  color: var(--nav-link-color);
}

nav ul li a:hover {
  color: var(--nav-hover-link-color);
}

/* Hero styles */
.hero {
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: var(--headline-color-on-color);
}

.hero-content {
  max-width: 70%;
  margin: 0 auto;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--paragraph-color-on-color);
}

.cta-button {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--headline-color-on-color);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.cta-button:hover {
  background-color: var(--secondary-color);
  transform: scale(1.15);
}

/* Options styles */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.option {
  text-align: center;
  max-width: 30%;
  margin-bottom: auto;
}

.option img {
  width: 100%;
  border-radius: 5px;
}

.option h2 {
  margin-top: 20px;
  font-size: 24px;
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

.option p {
  margin-top: 10px;
  color: var(--paragraph-color-on-white);
}

/* Signup styles */
.signup {
  display: flex;
  align-items: center;
  padding: 50px;
}

.signup-image {
  flex-basis: 50%;
}

.signup-image img {
  width: 100%;
  border-radius: 5px;
}

.signup-content {
  flex-basis: 50%;
  padding-left: 50px;
}

.signup-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}

.signup-content p {
  margin-bottom: 30px;
  color: var(--paragraph-color-on-white);
}

/* Footer styles */
footer {
  background-color: var(--nav-background-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left ul {
  list-style-type: none;
}

.footer-left ul li {
  display: inline;
  margin-right: 10px;
}

.footer-left ul li a {
  text-decoration: none;
  color: var(--nav-link-color);
}

.social-media-icons {
  display: flex;
}

.social-media-icons a {
  margin-right: 10px;
}

.social-media-icons a img {
  width: 50px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .signup {
    flex-direction: column;
    padding: 20px;
  }

  .signup-image,
  .signup-content {
    flex-basis: 100%;
  }
}

/* Contact styles */
.contact {
  text-align: center;
  padding: 100px 0;
  background-color: var(--accent2-color);
  color: var(--headline-color-on-color);
}

.contact-container {
  max-width: 70%;
  margin: 0 auto;
}

.contact h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
}

.contact p {
  font-size: 18px;
  margin-bottom: 30px;
  color: var(--paragraph-color-on-color);
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--headline-color-on-color);
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.contact textarea {
  resize: vertical;
  min-height: 150px;
}

.contact button[type="submit"] {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--headline-color-on-color);
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s ease;
}

.contact button[type="submit"]:hover {
  background-color: var(--secondary-color);
  transform: scale(1.15);
}

/* FAQ styles */
.faq {
  text-align: center;
  padding: 100px 0;
  background-color: var(--accent2-color);
  color: var(--headline-color-on-color);
}

.faq-container {
  max-width: 70%;
  margin: 0 auto;
}

.faq h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
}

.faq-item {
  margin-bottom: 30px;
  text-align: left;
}

.faq-item h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: var(--heading-font);
  color: var(--headline-color-on-color);
}

.faq-item p,
.faq-item ul li {
  font-size: 18px;
  color: var(--paragraph-color-on-color);
}

.faq-item ul {
  margin: 10px;
}

.faq-item ul li {
  margin-left: 50px;
}

.faq-item a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

